// Base

a[href*="mailto:"],
a[href*="tel:"] {
  white-space: nowrap;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  
  transition: $bg-transition;  

  height: $btn-height;

  &-lg {
    height: $btn-lg-height;
  }

  &-circle {
    width: $btn-height;
  }

  &-link {
    font-weight: $btn-font-weight;

    &:hover,
    &:focus {
      text-decoration: none;
      box-shadow: none !important;
    }
  }
}

.btn-light {
  border: none;

  /*button-variant($background, $border, $color, ... )*/
  @include button-variant(
    $white, 
    $white, 
    $gray-800, 
    $component-active-bg, 
    $component-active-bg,
    $white,
    $green-500, 
    $green-500,
    $white);
  box-shadow: 7px 7px 17px rgba(0, 18, 39, 0.1);

  &:hover {
    box-shadow: 7px 7px 17px rgba($green-300, 0.75);
  }

  &:focus {
    box-shadow: none !important;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
  }
}

.btn-success {
  border: none;

  /*button-variant($background, $border, $color, ... )*/
  @include button-variant(
    $green, 
    $green, 
    $white, 
    $green-500, 
    $green-500,
    $white,
    $green-500, 
    $green-500,
    $white);
  @include gradient-bg($green);
  @include gradient-y($green-300, $green);
  box-shadow: 0px 7px 17px rgba($green-300, 0.75);

  &:hover {
    @include gradient-bg($green-500);
    @include gradient-y($green-100, $green-500);
    box-shadow: 0px 7px 17px rgba($green-300, 0.75);
  }

  &:focus {
    @include gradient-bg($green-300);
    @include gradient-y($green, $green-300);
    box-shadow: none !important;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
  }
}

.btn-outline-success {
  /*button-variant($background, $border, $color, ... )*/
  @include button-variant(
    $white, 
    $green, 
    $body-color, 
    $green-500, 
    $green-500,
    $white,
    $green-500, 
    $green-500,
    $white);
  box-shadow: none;

  &:hover {
    @include gradient-bg($green-500);
    @include gradient-y($green-100, $green-500);
    box-shadow: 0px 7px 17px rgba($green-300, 0.75);
  }

  &:focus {
    @include gradient-bg($green-300);
    @include gradient-y($green, $green-300);
    box-shadow: none !important;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
  }
}


.btn-blue {
  border: none;

  /*button-variant($background, $border, $color, ... )*/
  @include button-variant(
    $blue, 
    $blue, 
    $white, 
    $blue-500, 
    $blue-500,
    $white,
    $blue-500, 
    $blue-500,
    $white);
  @include gradient-bg($blue);
  @include gradient-y($blue-100, $blue-500);
  box-shadow: 7px 7px 17px rgba($blue-300, 0.75);

  &:hover {
    @include gradient-bg($blue);
    @include gradient-y($blue-100, $blue-500);
    box-shadow: 7px 7px 17px rgba($blue-100, 0.15);
  }

  &:focus {
    @include gradient-bg($blue);
    @include gradient-y($blue-100, $blue-500);
    box-shadow: none !important;
  }

  .btn-check:checked ~ & {
    box-shadow: none !important;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
  }
}

.btn-orange {
  border: none;

  /*button-variant($background, $border, $color, ... )*/
  @include button-variant(
    $orange, 
    $orange, 
    $white, 
    $orange-500, 
    $orange-500,
    $white,
    $orange-500, 
    $orange-500,
    $white);
  @include gradient-bg($orange);
  @include gradient-y($orange-100, $orange-500);
  box-shadow: 7px 7px 17px rgba($orange-300, 0.75);

  &:hover {
    @include gradient-bg($orange);
    @include gradient-y($orange-100, $orange-500);
    box-shadow: 7px 7px 17px rgba($orange-100, 0.15);
  }

  &:focus {
    @include gradient-bg($orange);
    @include gradient-y($orange-100, $orange-500);
    box-shadow: none !important;
  }

  .btn-check:checked ~ & {
    box-shadow: none !important;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
  }
}

.btn-pink {
  border: none;

  /*button-variant($background, $border, $color, ... )*/
  @include button-variant(
    $pink, 
    $pink, 
    $white, 
    $pink-500, 
    $pink-500,
    $white,
    $pink-500, 
    $pink-500,
    $white);
  @include gradient-bg($pink);
  @include gradient-y($pink-100, $pink-500);
  box-shadow: 7px 7px 17px rgba($pink-300, 0.75);

  &:hover {
    @include gradient-bg($pink);
    @include gradient-y($pink-100, $pink-500);
    box-shadow: 7px 7px 17px rgba($pink-100, 0.15);
  }

  &:focus {
    @include gradient-bg($pink);
    @include gradient-y($pink-100, $pink-500);
    box-shadow: none !important;
  }

  .btn-check:checked ~ & {
    box-shadow: none !important;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
  }
}

.btn-red {
  border: none;

  /*button-variant($background, $border, $color, ... )*/
  @include button-variant(
    $red, 
    $red, 
    $white, 
    $red-500, 
    $red-500,
    $white,
    $red-500, 
    $red-500,
    $white);
  @include gradient-bg($red);
  @include gradient-y($red-100, $red-500);
  box-shadow: 7px 7px 17px rgba($red-300, 0.75);

  &:hover {
    @include gradient-bg($red);
    @include gradient-y($red-100, $red-500);
    box-shadow: 7px 7px 17px rgba($red-100, 0.15);
  }

  &:focus {
    @include gradient-bg($red);
    @include gradient-y($red-100, $red-500);
    box-shadow: none !important;
  }

  .btn-check:checked ~ & {
    box-shadow: none !important;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
  }
}

.bg-blue {
  @include gradient-bg($blue);
  @include gradient-y($blue-300, $blue-500);
  box-shadow: 7px 7px 17px rgba($blue-300, .75);
  transition: $bg-transition;

  &:hover {
    box-shadow: none;
  }

  &:active,
  &.active {
    background: $blue;
    box-shadow: none;
  }
}

.bg-orange {
  @include gradient-bg($orange);
  @include gradient-y($orange-300, $orange-500);
  box-shadow: 7px 7px 17px rgba($orange-300, .75);
  transition: $bg-transition;

  &:hover {
    box-shadow: none;
  }

  &:active,
  &.active {
    background: $orange;
    box-shadow: none;
  }
}

.bg-pink {
  @include gradient-bg($pink);
  @include gradient-y($pink-300, $pink-500);
  box-shadow: 7px 7px 17px rgba($pink-300, .75);
  transition: $bg-transition;

  &:hover {
    box-shadow: none;
  }

  &:active,
  &.active {
    background: $pink;
    box-shadow: none;
  }
}

.bg-red {
  @include gradient-bg($red);
  @include gradient-y($red-300, $red-500);
  box-shadow: 7px 7px 17px rgba($red-300, .75);
  transition: $bg-transition;

  &:hover {
    box-shadow: none;
  }

  &:active,
  &.active {
    background: $red;
    box-shadow: none;
  }
}

.btn-group {
  display: flex;
}

.form-check {
  min-height: auto;
}

.form-check-input {
  background-size: 65% 65%;
  cursor: pointer;
  margin-top: 0;  
}

.form-control {
  border-top: none;
  border-left: none;
  border-right: none;
}

::-webkit-scrollbar {
  width: $spacer / 3;
  border-radius: $spacer / 3;
}

::-webkit-scrollbar-track {
  background: rgba($body-color, .1); 
}
 
::-webkit-scrollbar-thumb {
  background: rgba($gray-800, .5); 
  border-radius: $spacer / 3;
}

::-webkit-scrollbar-thumb:hover {
  background: $gray-800; 
}
